body {
    background-color: rgba(111,68,36,0.1);
    color: rgb(30,30,30);
    text-align: center;
    font-size: 17px;
    font-family: trebuchet ms;
}

h1 {
    font-size: xxx-large;
    text-align: center;
    letter-spacing: 3px;
    font-family: Harlow solid;
    color: rgba(30, 30, 30, 0.94);
}

h2 {
	font-family: harlow solid;
	text-align: center;
	color: rgba(30, 30, 30, 0.94);

}

p { 
	color: rgba(30, 30, 30, 0.85);
 }

.btn-red {
	font-weight: 600;
	font-size : 16px;
	color: #00000061;
	text-decoration: none;
	background-color: rgb(0,0,0);
	color : white;
	padding: 8px 12px;
	border-radius: 5px;
}

.btn-red:hover {
	background-color: #CBB995;
	color: white;
}


.img-circle {
	border-radius: 50%
}

.box-shadow {
	box-shadow: -2px 6px 18px rgb(0 0 0 / 25%);
}

.container { 
	width: 819px;
	margin: 0 auto;
}

@media (max-width: 900px) {
	.container {
		width: 700px;
	}
}


@media (max-width: 700px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

@media (max-width: 900px) {
	.img-png {
		width: 500px;
	}
}


@media (max-width: 700px) {
	.img-png {
		width: 300px;
	}
}

@media (max-width: 500px) {
	.img-png {
		width: 200px;
	}
}

@media (max-width: 900px) {
	.img-png2 {
		width: 300px;
	}
}


@media (max-width: 700px) {
	.img-png2 {
		width: 200px;
	}
}

@media (max-width: 500px) {
	.img-png2 {
		width: 100px;
	}
}

.card-white {
	background: white;
	padding: 30px;
	margin: 25px;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgb(0 0 0 / 10%)
}

.liste-inline {
	list-style: none;
	padding-left: 0px
}

.liste-inline li {
	padding: 10px;
	display: inline;

}

a {
	font-size: 50px;
	text-decoration: none;
	color: #CBB995
}


a:hover  {
	text-decoration: none;
	color: black
}

#intro p {
	margin-bottom: 25px

}

#intro img {
	margin-bottom: 5px
}